

  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <a style="color:white;" routerLink="/">
			<span class="mdl-layout-title" >Score graphics</span>
				</a>
      <!-- Add spacer, to align navigation to the right -->
       <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">

				<a class="mdl-navigation__link" routerLink="/scoregraphics">Score graphics</a>
        <a class="mdl-navigation__link" routerLink="/holeinfographics">Hole info - graphics</a>


      </nav>

    </div>
  </header>

  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Score graphics</span>
    <nav class="mdl-navigation">
				<!--valikko2-->
				<a class="mdl-navigation__link" routerLink="/scoregraphics">Score graphics</a>
        <a class="mdl-navigation__link" routerLink="/holeinfographics">Hole info - graphics</a>
				<a class="mdl-navigation__link" href="https://dgg.ollihanhimaki.fi/bugreport">Report bug and give ideas</a>
				<a class="mdl-navigation__link" href="https://dgg.ollihanhimaki.fi/presentation">Presentation</a>




    </nav>
  </div>
