<main class="mdl-layout__content" style="flex: 1 0 auto; display:block">
	<div id="main" class="site-main" >
	<div class="mdl-grid" style="height: 80vh">

      <div class="content-area mdl-cell mdl-cell--12-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone" >
          <div class="section--center gm-card mdl-card mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
            <div class="mdl-card__supporting-text">
              <h5>Welcome to DGG </h5>
              DGG is site for making graphics for Disc Golf videos easy. DGG produces PNG images and you can throw those images over your video for nice graphics.

        
            </div>
          </div>
        </div>

<div class="content-area mdl-cell mdl-cell--6-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone" >
  <div class="section--center gm-card mdl-card mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <div class="mdl-card__supporting-text" routerLink="scoregraphics">
      <h5>Make score graphics</h5>
      <img width="100%" src='assets/examplescore.png'>

    </div>
  </div>
</div>

<div class="content-area mdl-cell mdl-cell--6-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone" >
  <div class="section--center gm-card mdl-card mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <div class="mdl-card__supporting-text" routerLink="holeinfographics">
      <h5>Make hole info graphics</h5>
      <img width="100%" src='assets/exampleholeinfo.png'>

    </div>
  </div>
</div>

</div>
</div>
</main>