<main class="mdl-layout__content" style="flex: 1 0 auto; display:block">
	<div id="main" class="site-main" >
	<div class="mdl-grid" style="height: 80vh">

<!-- CANVAS -->
<div class="content-area mdl-cell mdl-cell--8-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone ">
	<app-canvas></app-canvas>
</div>
<!-- CANVAS ENDS -->

<!-- TOOLS -->
<div class="content-area mdl-cell mdl-cell--4-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone scrollable">

	<!--   BACKGROUNDEDITING TOOLS -->
<app-background-editing [hidden]="hideBackgroundEditing"></app-background-editing>
<app-score-editing [hidden]="!hideBackgroundEditing"></app-score-editing>

	<!-- text tools -->

</div>

</div>
</div>
</main>
