<div id="texttools">
  <h3>
    {{ title }}
  </h3>

  <div class="section--center gm-card mdl-card mdl-grid mdl-grid--no-spacing mdl-shadow--2dp tyokalukortti">
    <div class="mdl-card__supporting-text">
      <a (click)="hideDataInput=!hideDataInput">
        <h5>
        Pars, names and scores
      </h5>
      </a>

      <div [hidden]="hideDataInput">

        <!--           TOOLTIP -->
        <div class="tooltip">
          <div id="ttinfo" class="icon material-icons">help</div>
          <div class="mdl-tooltip mdl-tooltip--large" for="ttinfo">
            <!--             Tooltiptexthere -->
            Select correct amount of players and give player names and scores. You can give scores divided with "," or spaces. You can paste scores that are divided with tab ex. Discgolfmetrix.
          </div>
        </div>
        <p>
          Players
        </p>
        <form>
          <select class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" [(ngModel)]="playersAmount" name="playersAmountSelector">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
        </select>

        </form>



        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" [(ngModel)]="holePars">
          <label class="mdl-textfield__label" for="coursepars">Hole pars</label>
        </div>


        <div id="player1">


          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" [(ngModel)]="player1Name">
            <label class="mdl-textfield__label" for="sample3">First Player</label>
          </div>


          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" >
            <input class="mdl-textfield__input" type="text" [(ngModel)]="player1Scores" (change)="player1ScoresSeparated=inputSeparator(player1Scores)">
            <label class="mdl-textfield__label" for="playerscore1">Scores</label>
          </div>
        </div>

        <div id="player2" [hidden]="playersAmount<=1">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" [(ngModel)]="player2Name">
            <label class="mdl-textfield__label" for="sample3">Second Player</label>
          </div>

          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" [(ngModel)]="player2Scores" (change)="player2ScoresSeparated=inputSeparator(player2Scores)">
            <label class="mdl-textfield__label" for="playerscore2">Scores</label>
          </div>
        </div>

        <div id="player3" [hidden]="playersAmount<=2">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" [(ngModel)]="player3Name">
            <label class="mdl-textfield__label" for="sample3">Third Player</label>
          </div>

          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" [(ngModel)]="player3Scores" (change)="player3ScoresSeparated=inputSeparator(player3Scores)">
            <label class="mdl-textfield__label" for="playerscore3">Scores</label>
          </div>
        </div>

        <div id="player4" [hidden]="playersAmount<=3">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" [(ngModel)]="player4Name">
            <label class="mdl-textfield__label" for="sample3">Fourth Player</label>
          </div>

          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" [(ngModel)]="player4Scores" (change)="player4ScoresSeparated=inputSeparator(player4Scores)">
            <label class="mdl-textfield__label" for="playerscore4">Scores</label>
          </div>
        </div>

        <div id="player5" [hidden]="playersAmount<=4">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" [(ngModel)]="player5Name">
            <label class="mdl-textfield__label" for="sample3">Fifth Player</label>
          </div>

          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" [(ngModel)]="player5Scores" (change)="player5ScoresSeparated=inputSeparator(player5Scores)">
            <label class="mdl-textfield__label" for="playerscore5">Scores</label>
          </div>
        </div>

        <div id="player6" [hidden]="playersAmount<=5">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" [(ngModel)]="player6Name">
            <label class="mdl-textfield__label" for="sample3">Sixth player</label>
          </div>

          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" [(ngModel)]="player6Scores" (change)="player6ScoresSeparated=inputSeparator(player6Scores)">
            <label class="mdl-textfield__label" for="playerscore6">Scores</label>
          </div>
        </div>


      </div>

    </div>
  </div>
  <div class="section--center gm-card mdl-card mdl-grid mdl-grid--no-spacing mdl-shadow--2dp tyokalukortti">
    <div class="mdl-card__supporting-text">
      <a (click)="hideLayoutEditor=!hideLayoutEditor">
        <h5>
        Text layout
      </h5>
      </a>

      <div [hidden]="hideLayoutEditor">

        <!--           TOOLTIP -->
        <div class="tooltip">
          <div id="ttlayout" class="icon material-icons">help</div>
          <div class="mdl-tooltip mdl-tooltip--large" for="ttlayout">
            <!--             Tooltiptexthere -->
            Select Vertical or Horizontal layout. You are positioning topleft corner. You can disable score depending colors.
          </div>
        </div>

        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="Vertical">
<input type="radio" id="Vertical" [(ngModel)]="playersDirections" class="mdl-radio__button" name="playersDirections" value="ver" (change)="scoreDirection()">
<span class="mdl-radio__label">Vertical</span>
</label>
        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="Horizontal">
<input type="radio" id="Horizontal" [(ngModel)]="playersDirections" class="mdl-radio__button" name="playersDirections" value="hor" (change)="scoreDirection()">
<span class="mdl-radio__label">Horizontal</span>
</label>

        <p>
          Position X
        </p>
        <div class="sliderwidth">
          <input class="mdl-slider mdl-js-slider" [(ngModel)]="scorePosX" type="range" min="0" max="1920" value="200" tabindex="0" (mousemove)="scoreDirection()" (change)="scoreDirection()">
        </div>

        <div class="textboxwidth">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" [(ngModel)]="scorePosX" (keyup)="scoreDirection()" (change)="scoreDirection()">

            <span class="mdl-textfield__error">Input is not a number!</span>
          </div>
        </div>
        <!--         to here -->
        <p>
          Position Y
        </p>
        <div class="sliderwidth">
          <input class="mdl-slider mdl-js-slider" [(ngModel)]="scorePosY" type="range" min="0" max="1920" value="200" tabindex="0" (mousemove)="scoreDirection()" (change)="scoreDirection()">
        </div>

        <div class="textboxwidth">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" [(ngModel)]="scorePosY" (keyup)="scoreDirection()" (change)="scoreDirection()">

            <span class="mdl-textfield__error">Input is not a number!</span>
          </div>
        </div>

        <p>
          Player to Player
        </p>
        <div class="sliderwidth">
          <input class="mdl-slider mdl-js-slider" [(ngModel)]="scorePlayerPlayer" type="range" min="0" max="1920" value="430" tabindex="0" (mousemove)="scoreDirection()" (change)="scoreDirection()">
        </div>

        <div class="textboxwidth">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" [(ngModel)]="scorePlayerPlayer" (keyup)="scoreDirection()" (change)="scoreDirection()">

            <span class="mdl-textfield__error">Input is not a number!</span>
          </div>
        </div>


        <p>
          Name to hole score
        </p>
        <div class="sliderwidth">
          <input class="mdl-slider mdl-js-slider" [(ngModel)]="scoreNameHole" type="range" min="-1000" max="1000" value="300" tabindex="0" (mousemove)="scoreDirection()" (change)="scoreDirection()">
        </div>

        <div class="textboxwidth">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" [(ngModel)]="scoreNameHole" (keyup)="scoreDirection()" (change)="scoreDirection()">

            <span class="mdl-textfield__error">Input is not a number!</span>
          </div>
        </div>

        <p>
          Hole score to total
        </p>
        <div class="sliderwidth">
          <input class="mdl-slider mdl-js-slider" [(ngModel)]="scoreHoleTotal" type="range" min="-1000" max="1000" value="200" tabindex="0" (mousemove)="scoreDirection()" (change)="scoreDirection()">
        </div>

        <div class="textboxwidth">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" [(ngModel)]="scoreHoleTotal" (keyup)="scoreDirection()" (change)="scoreDirection()">

            <span class="mdl-textfield__error">Input is not a number!</span>
          </div>
        </div>

        <p>
          Player name font
        </p>
        <div class="textboxwidth samerow">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" value="100" [(ngModel)]="scoreNameSize" (keyup)="scoreDirection()" (change)="scoreDirection()">
            <label class="mdl-textfield__label" for="scoretextnamesize">Size</label>
            <span class="mdl-textfield__error">Input is not a number!</span>
          </div>
        </div>




        <form class="samerow">
          <select class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" [(ngModel)]="scoreNameFont" (keyup)="scoreDirection()" (change)="scoreDirection()" name="scoreNameFontSelector">
  <option value="Arial">Arial</option>
  <option value="Impact">Impact</option>
  <option value="Courier New">Courier New</option>
  <option value="Verdana">Verdana</option>
</select>

        </form>

        <input class="mdl-textfield__input samerow" [(colorPicker)]="scoreNameColor" [style.background]="scoreNameColor" [value]="scoreNameColor" [cpPosition]="'left'" (colorPickerChange)="scoreDirection()">

        <p>
          Hole score font
        </p>

        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="scoretextholecolorscore">

          <input type="checkbox" id="scoretextholecolorscore" class="mdl-switch__input" checked>
          <span class="mdl-switch__label">Use color depending on score</span>
        </label>

        <div class="textboxwidth samerow">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" value="100" [(ngModel)]="scoreHoleScoreSize" (keyup)="scoreDirection()" (change)="scoreDirection()">
            <label class="mdl-textfield__label" for="scoretextholesize">Size</label>
            <span class="mdl-textfield__error">Input is not a number!</span>
          </div>
        </div>




        <form class="samerow">
          <select class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" [(ngModel)]="scoreHoleScoreFont" (keyup)="scoreDirection()" (change)="scoreDirection()" name="scoreHoleScoreFontSelector">
  <option value="Arial">Arial</option>
  <option value="Impact">Impact</option>
  <option value="Courier New">Courier New</option>
  <option value="Verdana">Verdana</option>
</select>

        </form>
        <input class="mdl-textfield__input samerow" [(colorPicker)]="scoreHoleScoreColor" [style.background]="scoreHoleScoreColor" [value]="scoreHoleScoreColor" [cpPosition]="'left'" (colorPickerChange)="scoreDirection()">



        <p>
          Round total font
        </p>
        <div class="textboxwidth samerow">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" value="100" [(ngModel)]="scoreTotalScoreSize" (keyup)="scoreDirection()" (change)="scoreDirection()">
            <label class="mdl-textfield__label" for="sample4">Size</label>
            <span class="mdl-textfield__error">Input is not a number!</span>
          </div>
        </div>




        <form class="samerow">
          <select class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" [(ngModel)]="scoreTotalScoreFont" (keyup)="scoreDirection()" (change)="scoreDirection()" name="scoreTotalScoreFontSelector">
  <option value="Arial">Arial</option>
  <option value="Impact">Impact</option>
  <option value="Courier New">Courier New</option>
  <option value="Verdana">Verdana</option>
</select>

        </form>

        <input class="mdl-textfield__input samerow" [(colorPicker)]="scoreTotalScoreColor" [style.background]="scoreTotalScoreColor" [value]="scoreTotalScoreColor" [cpPosition]="'left'" (colorPickerChange)="scoreDirection()">

      </div>

    </div>
  </div>
  <div class="section--center gm-card mdl-card mdl-grid mdl-grid--no-spacing mdl-shadow--2dp tyokalukortti">
    <div class="mdl-card__supporting-text">
      <a (click)="hideStartProcessing=!hideStartProcessing">
        <h5>
        Make scorecards
      </h5>
      </a>

      <div [hidden]="hideStartProcessing">

        <!--           TOOLTIP -->
        <div class="tooltip">
          <div id="ttready" class="icon material-icons">help</div>
          <div class="mdl-tooltip mdl-tooltip--large" for="ttready">
            <!--             Tooltiptexthere -->
            Score graphics are ready? Press Start processing and wait for zip to start downloading.
          </div>
        </div>
        <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" onclick="zipMakerCaller()">Start processing</button>

      </div>

    </div>
  </div>
  <div class="changetoolsbuttons">


    <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored changetoolsbutton" (click)="changeTools()">Go back to background editing tools</button>

  </div>
</div>
