<div id="texttools">
  <h3>
    {{ title }}
  </h3>

  <div class="section--center gm-card mdl-card mdl-grid mdl-grid--no-spacing mdl-shadow--2dp tyokalukortti">
    <div class="mdl-card__supporting-text">
      <a (click)="hideInfoShowOptions=!hideInfoShowOptions">
        <h5>
        Select infos to show
      </h5>
      </a>

      <div [hidden]="hideInfoShowOptions">

        <!--           TOOLTIP -->
        <div class="tooltip">
          <div id="ttinfo" class="icon material-icons">help</div>
          <div class="mdl-tooltip mdl-tooltip--large" for="ttinfo">
            <!--             Tooltiptexthere -->
            Select correct which infos you want to show in your hole info graphics. Dgg shows tools only for selected infos.
          </div>
        </div>

        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="holeNumbersCheck">
          <span class="mdl-switch__label">Show hole numbers</span>
          <input type="checkbox" id="holeNumbersCheck"  [(ngModel)]="holeNumbersCheck" class="mdl-switch__input" name="holeNumbersCheckSelector">

        </label>
        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="holeParsCheck">
          <span class="mdl-switch__label">Show hole pars</span>
          <input type="checkbox" id="holeParsCheck"  [(ngModel)]="holeParsCheck" class="mdl-switch__input" name="holeParsCheckSelector">

        </label>
        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="holeDistancesCheck">
          <span class="mdl-switch__label">Show hole distances</span>
          <input type="checkbox" id="holeDistancesCheck"  [(ngModel)]="holeDistancesCheck" class="mdl-switch__input" name="holeDistancesCheckSelector">

        </label>

        <p>
           Other settings
        </p>

        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="holeDistancesUnit">
          <span class="mdl-switch__label">Use meters instead of foots</span>
          <input type="checkbox" id="holeDistancesUnit"  [(ngModel)]="holeDistancesUnit" class="mdl-switch__input" name="holeDistancesUnitSelector">

        </label>
        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="holeDistancesBoth">
          <span class="mdl-switch__label">Show distance as meters and foots</span>
          <input type="checkbox" id="holeDistancesBoth"  [(ngModel)]="holeDistancesBoth" class="mdl-switch__input" name="holeDistancesBothSelector">

        </label>





      </div>

    </div>
  </div>

  <div class="section--center gm-card mdl-card mdl-grid mdl-grid--no-spacing mdl-shadow--2dp tyokalukortti">
    <div class="mdl-card__supporting-text">
      <a (click)="hideDataInput=!hideDataInput">
        <h5>
        Give data
      </h5>
      </a>

      <div [hidden]="hideDataInput">

        <!--           TOOLTIP -->
        <div class="tooltip">
          <div id="dataInputTooltip" class="icon material-icons">help</div>
          <div class="mdl-tooltip mdl-tooltip--large" for="dataInputTooltip">
            Input data for hole info graphics. Separate values with comma or space. You can leave hole numbers empty for default value: 1,2,3... You can also leave pars empty for default value: 3,3,3... 
          </div>
        </div>
        <p>
          Infos to show
        </p>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" [hidden]="!holeNumbersCheck">
          <input class="mdl-textfield__input" type="text" [(ngModel)]="holeNumbers" (change)="holeNumbersSeparated=inputSeparator(holeNumbers)">
          <label class="mdl-textfield__label" for="coursepars">Hole numbers, default:1,2,3...</label>
        </div>



        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" [hidden]="!holeParsCheck">
          <input class="mdl-textfield__input" type="text" [(ngModel)]="holePars" (change)="holeParsSeparated=inputSeparator(holePars)">
          <label class="mdl-textfield__label" for="coursepars">Hole pars, default:3,3,3...</label>
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" [hidden]="!holeDistancesCheck">
          <input class="mdl-textfield__input" type="text" [(ngModel)]="holeDistances" (change)="holeDistancesSeparated=inputSeparator(holeDistances)">
          <label class="mdl-textfield__label" for="coursepars">Hole distances</label>
        </div>




      </div>

    </div>
  </div>

  <div class="section--center gm-card mdl-card mdl-grid mdl-grid--no-spacing mdl-shadow--2dp tyokalukortti">
    <div class="mdl-card__supporting-text">
      <a (click)="hideLayoutEditor=!hideLayoutEditor">
        <h5>
        Text layout
      </h5>
      </a>

      <div [hidden]="hideLayoutEditor">

        <!--           TOOLTIP -->
        <div class="tooltip">
          <div id="ttlayout" class="icon material-icons">help</div>
          <div class="mdl-tooltip mdl-tooltip--large" for="ttlayout">
            <!--             Tooltiptexthere -->
            Position every info with x&y coordinates. Select size, font and color individually for every info.
          </div>
        </div>

        <div [hidden]="!holeNumbersCheck">
          <p>
            Hole number position X
          </p>
          <div class="sliderwidth">
            <input class="mdl-slider mdl-js-slider" [(ngModel)]="holeNumbersPosX" type="range" min="0" max="1920" value="200" tabindex="0" (mousemove)="writeHoleInfos()" (change)="writeHoleInfos()">
          </div>

          <div class="textboxwidth">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" [(ngModel)]="holeNumbersPosX" (keyup)="writeHoleInfos()" (change)="writeHoleInfos()">

              <span class="mdl-textfield__error">Input is not a number!</span>
            </div>
          </div>
          <!--         to here -->
          <p>
            Hole number position Y
          </p>
          <div class="sliderwidth">
            <input class="mdl-slider mdl-js-slider" [(ngModel)]="holeNumbersPosY" type="range" min="0" max="1920" value="200" tabindex="0" (mousemove)="writeHoleInfos()" (change)="writeHoleInfos()">
          </div>

          <div class="textboxwidth">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" [(ngModel)]="holeNumbersPosY" (keyup)="writeHoleInfos()" (change)="writeHoleInfos()">

              <span class="mdl-textfield__error">Input is not a number!</span>
            </div>
          </div>
        </div>

        <div [hidden]="!holeParsCheck">
          <p>
            Hole par position X
          </p>
          <div class="sliderwidth">
            <input class="mdl-slider mdl-js-slider" [(ngModel)]="holeParsPosX" type="range" min="0" max="1920" value="200" tabindex="0" (mousemove)="writeHoleInfos()" (change)="writeHoleInfos()">
          </div>

          <div class="textboxwidth">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" [(ngModel)]="holeParsPosX" (keyup)="writeHoleInfos()" (change)="writeHoleInfos()">

              <span class="mdl-textfield__error">Input is not a number!</span>
            </div>
          </div>
          <!--         to here -->
          <p>
            Hole par position Y
          </p>
          <div class="sliderwidth">
            <input class="mdl-slider mdl-js-slider" [(ngModel)]="holeParsPosY" type="range" min="0" max="1920" value="200" tabindex="0" (mousemove)="writeHoleInfos()" (change)="writeHoleInfos()">
          </div>

          <div class="textboxwidth">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" [(ngModel)]="holeParsPosY" (keyup)="writeHoleInfos()" (change)="writeHoleInfos()">

              <span class="mdl-textfield__error">Input is not a number!</span>
            </div>
          </div>
        </div>

        <div [hidden]="!holeDistancesCheck">
          <p>
            Hole distance position X
          </p>
          <div class="sliderwidth">
            <input class="mdl-slider mdl-js-slider" [(ngModel)]="holeDistancesPosX" type="range" min="0" max="1920" value="200" tabindex="0" (mousemove)="writeHoleInfos()" (change)="writeHoleInfos()">
          </div>

          <div class="textboxwidth">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" [(ngModel)]="holeDistancesPosX" (keyup)="writeHoleInfos()" (change)="writeHoleInfos()">

              <span class="mdl-textfield__error">Input is not a number!</span>
            </div>
          </div>
          <!--         to here -->
          <p>
            Hole distance position Y
          </p>
          <div class="sliderwidth">
            <input class="mdl-slider mdl-js-slider" [(ngModel)]="holeDistancesPosY" type="range" min="0" max="1920" value="200" tabindex="0" (mousemove)="writeHoleInfos()" (change)="writeHoleInfos()">
          </div>

          <div class="textboxwidth">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" [(ngModel)]="holeDistancesPosY" (keyup)="writeHoleInfos()" (change)="writeHoleInfos()">

              <span class="mdl-textfield__error">Input is not a number!</span>
            </div>
          </div>
        </div>

        <div [hidden]="!holeDistancesBoth">
          <p>
            Hole distance another unit position X
          </p>
          <div class="sliderwidth">
            <input class="mdl-slider mdl-js-slider" [(ngModel)]="holeDistancesBothPosX" type="range" min="0" max="1920" value="200" tabindex="0" (mousemove)="writeHoleInfos()" (change)="writeHoleInfos()">
          </div>

          <div class="textboxwidth">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" [(ngModel)]="holeDistancesBothPosX" (keyup)="writeHoleInfos()" (change)="writeHoleInfos()">

              <span class="mdl-textfield__error">Input is not a number!</span>
            </div>
          </div>
          <!--         to here -->
          <p>
            Hole distance another unit position Y
          </p>
          <div class="sliderwidth">
            <input class="mdl-slider mdl-js-slider" [(ngModel)]="holeDistancesBothPosY" type="range" min="0" max="1920" value="200" tabindex="0" (mousemove)="writeHoleInfos()" (change)="writeHoleInfos()">
          </div>

          <div class="textboxwidth">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" [(ngModel)]="holeDistancesBothPosY" (keyup)="writeHoleInfos()" (change)="writeHoleInfos()">

              <span class="mdl-textfield__error">Input is not a number!</span>
            </div>
          </div>
        </div>



        <div [hidden]="!holeNumbersCheck">
          <p>
            Hole number font
          </p>
          <div class="textboxwidth samerow">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" value="100" [(ngModel)]="holeNumbersSize" (keyup)="writeHoleInfos()" (change)="writeHoleInfos()">
              <label class="mdl-textfield__label" for="scoretextnamesize">Size</label>
              <span class="mdl-textfield__error">Input is not a number!</span>
            </div>
          </div>




          <form class="samerow">
            <select class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" [(ngModel)]="holeNumbersFont" (keyup)="writeHoleInfos()" (change)="writeHoleInfos()" name="holeNumbersFontSelector">
  <option value="Arial">Arial</option>
  <option value="Impact">Impact</option>
  <option value="Courier New">Courier New</option>
  <option value="Verdana">Verdana</option>
</select>

          </form>

          <input class="mdl-textfield__input samerow" [(colorPicker)]="holeNumbersColor" [style.background]="holeNumbersColor" [value]="holeNumbersColor" [cpPosition]="'left'" (colorPickerChange)="writeHoleInfos()">
        </div>
        <div [hidden]="!holeParsCheck">
          <p>
            Hole par font
          </p>

          <div class="textboxwidth samerow">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" value="100" [(ngModel)]="holeParsSize" (keyup)="writeHoleInfos()" (change)="writeHoleInfos()">
              <label class="mdl-textfield__label" for="scoretextholesize">Size</label>
              <span class="mdl-textfield__error">Input is not a number!</span>
            </div>
          </div>




          <form class="samerow">
            <select class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" [(ngModel)]="holeParsFont" (keyup)="writeHoleInfos()" (change)="writeHoleInfos()" name="scoreHoleScoreFontSelector">
  <option value="Arial">Arial</option>
  <option value="Impact">Impact</option>
  <option value="Courier New">Courier New</option>
  <option value="Verdana">Verdana</option>
</select>

          </form>
          <input class="mdl-textfield__input samerow" [(colorPicker)]="holeParsColor" [style.background]="holeParsColor" [value]="holeParsColor" [cpPosition]="'left'" (colorPickerChange)="writeHoleInfos()">

        </div>

        <div [hidden]="!holeDistancesCheck">

          <p>
            Hole distance font
          </p>
          <div class="textboxwidth samerow">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" value="100" [(ngModel)]="holeDistancesSize" (keyup)="writeHoleInfos()" (change)="writeHoleInfos()">
              <label class="mdl-textfield__label" for="sample4">Size</label>
              <span class="mdl-textfield__error">Input is not a number!</span>
            </div>
          </div>




          <form class="samerow">
            <select class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" [(ngModel)]="holeDistancesFont" (keyup)="writeHoleInfos()" (change)="writeHoleInfos()" name="scoreTotalScoreFontSelector">
  <option value="Arial">Arial</option>
  <option value="Impact">Impact</option>
  <option value="Courier New">Courier New</option>
  <option value="Verdana">Verdana</option>
</select>

          </form>

          <input class="mdl-textfield__input samerow" [(colorPicker)]="holeDistancesColor" [style.background]="holeDistancesColor" [value]="holeDistancesColor" [cpPosition]="'left'" (colorPickerChange)="writeHoleInfos()">
        </div>
        <div [hidden]="!holeDistancesBoth">

          <p>
            Hole distance another unit font
          </p>
          <div class="textboxwidth samerow">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" value="100" [(ngModel)]="holeDistancesBothSize" (keyup)="writeHoleInfos()" (change)="writeHoleInfos()">
              <label class="mdl-textfield__label" for="sample4">Size</label>
              <span class="mdl-textfield__error">Input is not a number!</span>
            </div>
          </div>




          <form class="samerow">
            <select class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" [(ngModel)]="holeDistancesBothFont" (keyup)="writeHoleInfos()" (change)="writeHoleInfos()" name="scoreTotalScoreFontSelector">
  <option value="Arial">Arial</option>
  <option value="Impact">Impact</option>
  <option value="Courier New">Courier New</option>
  <option value="Verdana">Verdana</option>
</select>

          </form>

          <input class="mdl-textfield__input samerow" [(colorPicker)]="holeDistancesBothColor" [style.background]="holeDistancesBothColor" [value]="holeDistancesBothColor" [cpPosition]="'left'" (colorPickerChange)="writeHoleInfos()">
        </div>
        </div>

      </div>
    </div>
    <div class="section--center gm-card mdl-card mdl-grid mdl-grid--no-spacing mdl-shadow--2dp tyokalukortti">
      <div class="mdl-card__supporting-text">
        <a (click)="hideStartProcessing=!hideStartProcessing">
          <h5>
        Make scorecards
      </h5>
        </a>

        <div [hidden]="hideStartProcessing">

          <!--           TOOLTIP -->
          <div class="tooltip">
            <div id="ttready" class="icon material-icons">help</div>
            <div class="mdl-tooltip mdl-tooltip--large" for="ttready">
              <!--             Tooltiptexthere -->
              Setting up hole infos is rdy? Press Start processing and wait for zip to start downloading.
            </div>
          </div>
          <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" (click)="zipMakerCaller()">Start processing</button>

        </div>

      </div>
    </div>

  </div>
